In [6]:
import pandas as pd
import json
import numpy as np

In [17]:
df = pd.read_csv("Workplaces2.csv")
df.head(10)

        year                  name  value  lastValue
0  2020.0215  United Arab Emirates      2          2
1  2020.0215                Serbia      0          0
2  2020.0215               Belgium      1          1
3  2020.0215               Romania      4          4
4  2020.0215               Réunion      0          0
5  2020.0215                 Qatar      5          5
6  2020.0215          Burkina Faso      6          6
7  2020.0215              Paraguay      2          2
8  2020.0215              Portugal      1          1
9  2020.0215              Bulgaria      0          0

In [18]:
df.to_json('Workplaces_sec3.json', orient='records')